.item{
    border: 1px solid grey;
    background-color: grey;
    width: 500px;
    height: 700px;
}
.container{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 209px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 140px;
}
img{
    width: 199px;
    height: 200px;
    border-radius: 15px;
    padding: 5px;
}
.bold{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;
}
p{
    font-size: small;
    color: rgb(171, 171, 171);
    text-align: center;
}
@media screen and (max-width:480px) {
    .item{
        width: 100%;
    }
    .container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 70%;
        padding: 5px;
    }
    img{
        width: 90%;
        height: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bold{
        font-size: x-large;
        text-align: center;
    }
    p{
        font-size: large;
        text-align: center;
        padding:0px 18px;
    }
    
}